@import "variables";
@import "grid";

body{
    background-color: $colorFondo;
}
.footer{
    ul{ 
    display: inline-block;
    list-style-type: none;
    background-image: linear-gradient(to right, rgb(140, 199, 140), rgb(0, 0, 0)  );    
        li{
            align-items: center;
            margin: 15px;
            color: white;
        }

    }
} 
.img{
    width: 500px;
    
}
.texto{
    h1{ 
        font-style: $fontType1;
        text-align: $ubTexto;
        color: $colorPrincipal


    }
    p{
        font-style: $fontType;
        text-align: $ubTexto;
        color: $colorSecundario;
    }
    h2{
        font-style: $fontType1;
        text-align: $ubTexto;
        color: $colorPrincipal;

    }

}
.contenedor1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .caja1{
        margin: 6%;
        background-color: rgb(216, 245, 207);
   
    }
    tr{
        font-size: 20px;
    }
    th{
        font-size: 20px;
        font-style: $fontType1;

    }
    p{
        font-size: 20px;
        margin: 7%;
    }
    
}
.caja2{
    h1{
        font-style: $fontType1;
        text-align: $ubTexto;
        font-size: 35px;
        text-decoration: underline;
    }
    h2{
        text-align: $ubTexto;
        margin: 3%;
        font-size: 25px;
    }
    h3{ 
        font-size: 20px;
        margin: 10px;
        text-align: $ubTexto;
        padding: 20px;

    }
    .scaleImg{
        height: 400px; 
        width: 300px;
        margin: auto;
        &:hover{
            transform:scale(1.5,1.5);
        }

    }
} 
.contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.botones{
    transition: all;
    &:hover{
        background-color: $colorPrincipal;
    }
}    

@media screen and (max-width: 600px){
    .media{
        float: none;
        width: 100%;
    }

}